.Vue-Toastification__toast--default {
    background-color: black;
}
.Vue-Toastification__toast {
    padding: 15px 15px;
    font-family: "Roboto", Arial, sans-serif;
    min-height: 56px;
}
.Vue-Toastification__container {
    max-width: 1430px;
    margin: 0 auto;
    width: 95%;    
}
@media only screen and (min-width: 600px) {
    .Vue-Toastification__container.bottom-left {
        left: 50%;
        transform: translateX(-50%);
    }
}
.Vue-Toastification__icon {
    font-size: 26px;    
}
.Vue-Toastification__progress-bar {
    bottom: -1px;
}    