.main-wrapper {
    padding-top: 95px;
    .container.grid {
        max-width: 1040px;
        padding: 0;
        display: grid;

        @media screen and (min-width: 550px) {
          grid-template-columns: 2fr 3fr !important;
          gap: 30px;           
        }  
    }
}
.card h3 {
  margin-bottom: 10px;
}
.sidebar__photos, .sidebar__friends {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(3, 1fr);
}
.profile-id-index-photos, .profile-id-index-friends, .profile-id-index-friends-mutual, .profile-id-index-liked-pages,
.page-id-index-photos, .page-id-index-friends, .page-id-index-liked-pages {
  .left-sidebar {
    display: none;
    @media screen and (min-width: 550px) {
      display: block;
    }  
  }
}