.profile__header {
    position: relative;
    background-color: grey;
    background-size: cover;
    background-position: center center;
  
     &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.75)), color-stop(50%, rgba(0, 0, 0, 0)));
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 50%);     
     }
  }
  .profile__header-wrapper {
    position: relative;
    max-width: 1040px;
    width: 95%;
    margin: 0 auto;
    border-radius: 5px;
    margin-bottom: 30px;
    box-shadow: 0px 1px 15px 0px rgba(51, 51, 51, 0.2);
  }
  .profile__header-menu {
    position: relative;
    margin-bottom: 20px;
    background: white;
      border-radius: 5px;
  
    .container {
      max-width: 1040px;
      margin: 0 auto;
      padding: 0;
    }
  
    ul {
      position: relative;
      left: 220px;    
      display: inline-flex;
      margin-bottom: 0;
      list-style: none; 
      
      li {
        display: block;
        cursor: pointer;
        padding: 10px 20px;
        padding-bottom: 14px;
        border-top: 4px solid white;
        &.main-page {
          &.nuxt-link-active {
          border-top: 4px solid white;
          color: #444444;
          }
          &.nuxt-link-exact-active {
            color: $primary-color;
            border-top: 4px solid $primary-color;          
          }
        }
        &.nuxt-link-active {
          color: $primary-color;
          border-top: 4px solid $primary-color;
        }
      }
    }
  }
  .profile__header-img, .profile__header-name, .profile__header-btns {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .profile__header-name {
    color: white;
    font-size: 24px;
  }
  .profile__header-btns {
    color: white;
  }
  .profile__header-img {
    margin-bottom: -50px;
    .ui-profile-img {
      width: 200px; 
      height: 200px;
      border: 5px solid white;
      box-shadow: 0px 1px 1px 0px rgba(51, 51, 51, 0.05);
    }
  }
  .profile__header-grid {
    display: grid;
    min-height: 280px;
    grid-template-columns: 210px auto 180px;
    position: relative;
    z-index: 2;
  }