.main-wrapper {
    padding-top: 95px;
    .container.grid {
        max-width: 1040px;
        padding: 0;
        display: grid;
        grid-template-columns: 2fr 3fr !important;
        gap: 30px;
    }
}
.profile-header {

  min-height: 270px;
}
.card h3 {
  margin-bottom: 10px;
}
.sidebar__photos, .sidebar__friends {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(3, 1fr);
}